.logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #f0f0f0;
}

.logo-img {
  width: 200px;
  height: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .logo-container {
    transform: scale(0.7);
    margin-top: 5px;
  }
}
